<mat-toolbar color="primary" class="fixed-toolbar">
    <button mat-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <nav style="display: flex ;flex-direction:row; justify-content: space-evenly; width: 100%;">
        <a href="commandes">
            <span>Commandes</span>
        </a>


       
        <a href="#">
            <span>H Menu Item 2</span>
        </a>

        <a href="#">
            <span>H Menu Item 3</span>
        </a>
    </nav>
</mat-toolbar>
    
  
 